#Binary Files
*.bin
*.sys

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o

#History
.bash_history
.bashrc
.vscode

givepermissions.sh
.DS_Store

#GDB
.gdbinit
.gdb_history

kernel.elf
0000-sampleCodeModule.elf